@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Simple test site for Windows Deploy</h1>
    
    <p>
        <a href="https://github.com/roman-koshchei/windows-deploy">GitHub repository</a>
    </p>

    <p>Windows Server 2022 is hosted as VM on my machine with VirtualBox</p>
    
    <p>
        <a href="https://x.com/roman_koshchei" target="_blank">Follow me on X: @@roman_koshchei</a>
    </p>

    <p>Deployment color: Blue</p>
</div>
