@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Simple test site for Windows Deploy From GitHub Action</h1>
    <a href="https://github.com/roman-koshchei/windows-deploy">GitHub repository</a>
</div>
