@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Simple test site for Windows Deploy</h1>
    <a href="https://github.com/roman-koshchei/windows-deploy">GitHub repository</a>
    <p>Windows Server 2022 is hosted as VM on my personal machine</p>
</div>
